/usr/local/airflow/plugins/alembic-1.7.4-py3-none-any.whl
/usr/local/airflow/plugins/anyio-3.3.4-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow-2.2.2-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_databricks-2.0.2-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_ftp-2.0.1-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_google-6.1.0-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_http-2.0.1-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_imap-2.0.1-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_pagerduty-2.1.0-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_slack-4.1.0-py3-none-any.whlWelcome@2022
/usr/local/airflow/plugins/apache_airflow_providers_snowflake-2.3.0-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_sqlite-2.0.1-py3-none-any.whl
/usr/local/airflow/plugins/apache_airflow_providers_tableau-2.1.2-py3-none-any.whl
/usr/local/airflow/plugins/apispec-3.3.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/argcomplete-1.12.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/asn1crypto-1.4.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/attrs-20.3.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/Babel-2.9.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/backports.entry_points_selectable-1.1.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/blinker-1.4.tar.gz
/usr/local/airflow/plugins/cached_property-1.5.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/cachetools-4.2.2-py3-none-any.whl
/usr/local/airflow/plugins/cattrs-1.5.0-py3-none-any.whl
/usr/local/airflow/plugins/certifi-2020.12.5-py2.py3-none-any.whl
/usr/local/airflow/plugins/cffi-1.15.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
/usr/local/airflow/plugins/charset_normalizer-2.0.7-py3-none-any.whl
/usr/local/airflow/plugins/click-8.0.3-py3-none-any.whl
/usr/local/airflow/plugins/clickclick-20.10.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/colorama-0.4.4-py2.py3-none-any.whl
/usr/local/airflow/plugins/colorlog-4.8.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/commonmark-0.9.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/croniter-1.0.15-py2.py3-none-any.whl
/usr/local/airflow/plugins/cryptography-3.4.8-cp36-abi3-manylinux_2_24_x86_64.whl
/usr/local/airflow/plugins/defusedxml-0.7.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/dill-0.3.1.1.tar.gz
/usr/local/airflow/plugins/distlib-0.3.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/dnspython-2.1.0-py3-none-any.whl
/usr/local/airflow/plugins/docutils-0.16-py2.py3-none-any.whl
/usr/local/airflow/plugins/email_validator-1.1.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/filelock-3.3.2-py3-none-any.whl
/usr/local/airflow/plugins/Flask-1.1.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/Flask_AppBuilder-3.3.4-py3-none-any.whl
/usr/local/airflow/plugins/Flask_Babel-2.0.0-py3-none-any.whl
/usr/local/airflow/plugins/Flask_Caching-1.10.1-py3-none-any.whl
/usr/local/airflow/plugins/Flask-JWT-Extended-3.25.1.tar.gz
/usr/local/airflow/plugins/Flask-Login-0.4.1.tar.gz
/usr/local/airflow/plugins/Flask_OpenID-1.3.0-py3-none-any.whl
/usr/local/airflow/plugins/Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/Flask_WTF-0.14.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_ads-14.0.0-py3-none-any.whl
/usr/local/airflow/plugins/google_api_core-1.31.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_api_python_client-1.12.8-py2.py3-none-any.whl
/usr/local/airflow/plugins/googleapis_common_protos-1.53.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_auth-1.35.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_auth_httplib2-0.1.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_auth_oauthlib-0.4.6-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_appengine_logging-1.1.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_audit_log-0.2.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_automl-2.5.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_bigquery-2.30.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_bigquery_datatransfer-3.4.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_bigquery_storage-2.10.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_bigtable-1.7.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_build-3.7.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_container-1.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_core-1.7.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_datacatalog-3.6.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_dataproc-3.1.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_dlp-1.0.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_kms-2.10.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_language-1.3.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_logging-2.7.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_memcache-1.0.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_monitoring-2.6.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_os_login-2.5.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_pubsub-2.8.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_redis-2.4.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_secret_manager-1.0.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_spanner-1.19.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_speech-1.3.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_storage-1.42.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_tasks-2.7.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_texttospeech-1.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_translate-1.7.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_videointelligence-1.16.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_vision-1.0.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_cloud_workflows-1.5.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/google_crc32c-1.3.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
/usr/local/airflow/plugins/google_resumable_media-2.1.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/graphviz-0.18-py3-none-any.whl
/usr/local/airflow/plugins/grpc-google-iam-v1-0.12.3.tar.gz
/usr/local/airflow/plugins/grpcio-1.41.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/usr/local/airflow/plugins/grpcio_gcp-0.2.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/gunicorn-20.1.0-py3-none-any.whl
/usr/local/airflow/plugins/h11-0.12.0-py3-none-any.whl
/usr/local/airflow/plugins/httpcore-0.13.7-py3-none-any.whl
/usr/local/airflow/plugins/httplib2-0.19.1-py3-none-any.whl
/usr/local/airflow/plugins/httpx-0.19.0-py3-none-any.whl
/usr/local/airflow/plugins/idna-3.3-py3-none-any.whl
/usr/local/airflow/plugins/importlib_metadata-4.8.1-py3-none-any.whl
/usr/local/airflow/plugins/importlib_resources-5.4.0-py3-none-any.whl
/usr/local/airflow/plugins/inflection-0.5.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/iso8601-1.0.0-py3-none-any.whl
/usr/local/airflow/plugins/isodate-0.6.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/itsdangerous-1.1.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/Jinja2-2.11.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/json-merge-patch-0.2.tar.gz
/usr/local/airflow/plugins/jsonschema-3.2.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/lazy_object_proxy-1.4.3-cp37-cp37m-manylinux1_x86_64.whl
/usr/local/airflow/plugins/libcst-0.3.21-py3-none-any.whl
/usr/local/airflow/plugins/lockfile-0.12.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/Mako-1.1.5-py2.py3-none-any.whl
/usr/local/airflow/plugins/Markdown-3.3.4-py3-none-any.whl
/usr/local/airflow/plugins/MarkupSafe-1.1.1-cp37-cp37m-manylinux2010_x86_64.whl
/usr/local/airflow/plugins/marshmallow-3.14.0-py3-none-any.whl
/usr/local/airflow/plugins/marshmallow_enum-1.5.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/marshmallow_oneofschema-3.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/marshmallow_sqlalchemy-0.26.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/mypy_extensions-0.4.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/nox-2020.12.31-py3-none-any.whl
/usr/local/airflow/plugins/numpy-1.20.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
/usr/local/airflow/plugins/oauthlib-3.1.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/openapi_schema_validator-0.1.5-py3-none-any.whl
/usr/local/airflow/plugins/openapi_spec_validator-0.3.1-py3-none-any.whl
/usr/local/airflow/plugins/oscrypto-1.2.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/packaging-21.0-py3-none-any.whl
/usr/local/airflow/plugins/pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/usr/local/airflow/plugins/pandas_gbq-0.14.1-py3-none-any.whl
/usr/local/airflow/plugins/pdpyras-4.3.0.tar.gz
/usr/local/airflow/plugins/pendulum-2.1.2-cp37-cp37m-manylinux1_x86_64.whl
/usr/local/airflow/plugins/platformdirs-2.4.0-py3-none-any.whl
/usr/local/airflow/plugins/prison-0.2.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/protobuf-3.17.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl
/usr/local/airflow/plugins/proto_plus-1.18.1-py3-none-any.whl
/usr/local/airflow/plugins/psutil-5.8.0-cp37-cp37m-manylinux2010_x86_64.whl
/usr/local/airflow/plugins/py-1.11.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/pyarrow-4.0.1-cp37-cp37m-manylinux2014_x86_64.whl
/usr/local/airflow/plugins/pyasn1-0.4.8-py2.py3-none-any.whl
/usr/local/airflow/plugins/pyasn1_modules-0.2.8-py2.py3-none-any.whl
/usr/local/airflow/plugins/pycparser-2.21-py2.py3-none-any.whl
/usr/local/airflow/plugins/pycryptodomex-3.11.0-cp35-abi3-manylinux2010_x86_64.whl
/usr/local/airflow/plugins/pydata_google_auth-1.2.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/Pygments-2.10.0-py3-none-any.whl
/usr/local/airflow/plugins/PyJWT-1.7.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/pyOpenSSL-20.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/pyparsing-2.4.7-py2.py3-none-any.whl
/usr/local/airflow/plugins/pyrsistent-0.18.0-cp37-cp37m-manylinux1_x86_64.whl
/usr/local/airflow/plugins/python3_openid-3.2.0-py3-none-any.whl
/usr/local/airflow/plugins/python_daemon-2.3.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/python_dateutil-2.8.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/python-nvd3-0.15.0.tar.gz
/usr/local/airflow/plugins/python-slugify-4.0.1.tar.gz
/usr/local/airflow/plugins/pytz-2021.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/pytzdata-2020.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl
/usr/local/airflow/plugins/requests-2.26.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/requests_oauthlib-1.3.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/rfc3986-1.5.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/rich-10.13.0-py3-none-any.whl
/usr/local/airflow/plugins/rsa-4.7.2-py3-none-any.whl
/usr/local/airflow/plugins/setproctitle-1.2.2-cp37-cp37m-manylinux1_x86_64.whl
/usr/local/airflow/plugins/setuptools-62.1.0-py3-none-any.whl
/usr/local/airflow/plugins/six-1.16.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/slack_sdk-3.11.2-py2.py3-none-any.whl
/usr/local/airflow/plugins/sniffio-1.2.0-py3-none-any.whl
/usr/local/airflow/plugins/snowflake_connector_python-2.7.0-cp37-cp37m-manylinux2014_x86_64.whl
/usr/local/airflow/plugins/snowflake_sqlalchemy-1.2.4-py2.py3-none-any.whl
/usr/local/airflow/plugins/SQLAlchemy-1.3.24-cp37-cp37m-manylinux2010_x86_64.whl
/usr/local/airflow/plugins/SQLAlchemy_JSONField-1.0.0-py3-none-any.whl
/usr/local/airflow/plugins/SQLAlchemy_Utils-0.37.9-py3-none-any.whl
/usr/local/airflow/plugins/swagger_ui_bundle-0.0.9-py3-none-any.whl
/usr/local/airflow/plugins/tableauserverclient-0.17.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/tabulate-0.8.9-py3-none-any.whl
/usr/local/airflow/plugins/tenacity-8.0.1-py3-none-any.whl
/usr/local/airflow/plugins/termcolor-1.1.0.tar.gz
/usr/local/airflow/plugins/text_unidecode-1.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/typing_extensions-3.10.0.2-py3-none-any.whl
/usr/local/airflow/plugins/typing_inspect-0.7.1-py3-none-any.whl
/usr/local/airflow/plugins/unicodecsv-0.14.1.tar.gz
/usr/local/airflow/plugins/uritemplate-3.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/urllib3-1.26.7-py2.py3-none-any.whl
/usr/local/airflow/plugins/virtualenv-20.10.0-py2.py3-none-any.whl
/usr/local/airflow/plugins/Werkzeug-1.0.1-py2.py3-none-any.whl
/usr/local/airflow/plugins/WTForms-2.3.3-py2.py3-none-any.whl
/usr/local/airflow/plugins/zipp-3.6.0-py3-none-any.whl
